.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o

.AbiSuite
.Skype
.VirtualBox
.Xauthority
.adobe
.bash_completion.d
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.config
.dbus
.dmrc
.emacs.desktop
.emacs.desktop.lock
.fontconfig
.fonts
.fonts.conf
.gconf
.gconfd
.gegl-0.0
.gimp-2.6
.git
.gitconfig
.gitignore
.gnumericrc
.gtk-bookmarks
.gtkrc-2.0-kde4
.htoprc
.kde4
.lesshst
.local
.macromedia
.mozilla
.mplayer
.nexuiz
.opera
.pki
.recently-used.xbel
.ssh
.subversion
.thumbnails
.vdrift
.viminfo
.xine
.xinitrc
.xsession-errors
Downloads
books
extjs
icons
median
muusika
