[merge]
	tool = vimdiff
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	df = diff
	lg = log --ext-diff
	sh = show --ext-diff
	st = status
	ci = commit
	co = checkout
	slog = log --format=format:'%C(yellow)%h %Cgreen%an - %Creset%s %Cblue(%ar)%C(blue bold)%d%Creset' --graph
	stepback = reset --hard HEAD^
	# List files that have been ignored by git update-index --assume-unchanged <file>
        # One can get the files back by git update-index --no-assume-unchanged <file>
        ignored = !git ls-files -v | grep "^[[:lower:]]"
        publish = !sh -c 'git push origin -u ${1-"$(git rev-parse --abbrev-ref HEAD)"}'
        delete-merged = !git branch --merged | egrep -v '^\\*|^  dev$|^  master$' | xargs git branch -d
[diff "podiff"]
	textconv = strip-po-comments
[svn]
    rmdir = true
[core]
	excludesfile = /Users/nene/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[difftool "dwdiff"]
	cmd = dwdiff --color \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple

[include]
	path = .gitconfig.personal
[includeIf "gitdir:~/fc/"]
	path = .gitconfig.fleetcomplete

