# Ignore normal files:
*.jpg
*.png
*.doc
*.pdf

# Inside .xmonad ignore:
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o

# Inside .emacs.d ignore:
.emacs.d/*.elc
.emacs.d/auto-save-list
.emacs.d/local-settings.el
.emacs.d/anything-c-adaptive-history
.emacs.d/twittering-mode
.emacs.d/url

# Ignre compiled python executables
bin/*.pyc
bin/.commit-pass

# Sublime workspace
*.sublime-workspace

.AbiSuite
.PlaneShift/
.Skype
.VirtualBox
.Xauthority
.adobe
.android/
.audacity-data/
.avidemux/
.bash_completion.d
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.codered/
.config
.conkeror.mozdev.org/
.conkerorrc
.cruise/
.crystalspace/
.cshrc
.dbshell
.dbus
.designer/
.directory
.dmrc
.dvdcss/
.eclipse/
.emacs.desktop
.emacs.desktop.lock
.etracer/
.fontconfig
.fonts
.fonts.conf
.gconf
.gconfd
.gegl-0.0
.gem/
.gimp-2.6
.git
.gitconfig
.gitignore
.gnumericrc
.gnupg/
.gphoto/
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc
.gtkrc-2.0
.gtkrc-2.0-kde4
.history
.htoprc
.hugin
.java/
.kde4
.lesshst
.links/
.liquidwarrc
.local
.login
.login_conf
.macromedia
.mail_aliases
.mailrc
.mc/
.mozilla
.mplayer
.mysql_history
.nexuiz
.npm/
.nv/
.opera
.p7zip
.pki
.profile
.psql_history
.ptbt1
.recently-used.xbel
.rhosts
.savage2/
.shrc
.ssh
.subversion
.thumbnails
.twittering-mode.gpg
.ufoai/
.vdrift
.vim/
.viminfo
.vimrc
.wesnoth/
.xine
.xinitrc
.xsession-errors*

# site-specific scripts
bin/local

lib

Downloads
bilanss
books
cfe
docs
extjs
filter-row
fotod
homepages
icons
kernel-config
kool
median
muusika
pildid
programmid
public_html
todo
torrents
veebiproged
videod
work
www


