# Ignore normal files:
*.jpg
*.png
*.doc
*.pdf

# Inside .xemacs ignore:
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o

.AbiSuite
.PlaneShift/
.Skype
.VirtualBox
.Xauthority
.adobe
.bash_completion.d
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.codered/
.config
.crystalspace/
.dbus
.dmrc
.emacs.desktop
.emacs.desktop.lock
.etracer/
.fontconfig
.fonts
.fonts.conf
.gconf
.gconfd
.gegl-0.0
.gimp-2.6
.git
.gitconfig
.gitignore
.gnumericrc
.gtk-bookmarks
.gtkrc
.gtkrc-2.0
.gtkrc-2.0-kde4
.htoprc
.kde4
.lesshst
.links/
.local
.macromedia
.mozilla
.mplayer
.nexuiz
.opera
.pki
.recently-used.xbel
.ssh
.subversion
.thumbnails
.vdrift
.viminfo
.xine
.xinitrc
.xsession-errors

Downloads
bilanss
books
cfe
docs
extjs
fotod
homepages
icons
kool
median
muusika
pildid
programmid
public_html
todo
torrents
veebiproged
videod
work
www

