[merge]
	tool = vimdiff
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[user]
	name = Rene Saarsoo
	email = nene@triin.net
[alias]
	df = diff
	lg = log --ext-diff
	sh = show --ext-diff
	st = status
	ci = commit
	co = checkout
	slog = log --format=format:'%C(yellow)%h %Cgreen%an%x09 %Creset%s %Cblue(%ar)%Creset%d'
[diff "podiff"]
	textconv = strip-po-comments
