[merge]
	tool = vimdiff
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[user]
	name = Rene Saarsoo
	email = nene@triin.net
[alias]
	df = diff
	lg = log --ext-diff
	sh = show --ext-diff
	st = status
	ci = commit
	co = checkout
	slog = log --format=format:'%C(yellow)%h %Cgreen%an - %Creset%s %Cblue(%ar)%C(blue bold)%d%Creset' --graph
	stepback = reset --hard HEAD^
[diff "podiff"]
	textconv = strip-po-comments
[svn]
    rmdir = true
[core]
	excludesfile = /Users/nene/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
